@font-face {
  font-family : 'solis-light';
  src         : url('../fonts/solis-light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family : 'solis-bold';
  src         : url('../fonts/solis-bold.woff') format('woff');
}

@font-face {
  font-family : 'solis-medium';
  src         : url('../fonts/solis-medium.woff') format('woff');
}

@font-face {
  font-family : 'solis-regular';
  src         : url('../fonts/solis-regular.woff') format('woff');
}